{% extends 'base.html.twig' %}

{% block title %}Réservation confirmée
{% endblock %}

{% block body %}
	<section style="background: #232526">
		<div class="container py-5 mt-5">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5 mb-5 text-center">
					<h1 class="text-white mb-5">
						Votre<span class="text-warning">
							réservation</span>
						est
						<span class="text-info">
							confirmée !</span>
					</h1>
					<p class="text-white">Votre
						<span class="text-warning">
							réservation</span>
						a été
						<span class="text-info">
							confirmée</span>
						avec
						<span class="text-warning">
							succès</span>. Nous avons hâte de vous accueillir dans notre restaurant.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
