{% extends'@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
	<div class="jumbotron">
		<h1 class="display-4">Administration de votre restaurant</h1>
		<p class="lead">Bienvenue dans votre interface d'administration pour le site du restaurant Quai Antique.</p>
		<p>Qu'est-ce qu'on vous sert aujourd'hui ?</p>
	</div>
{% endblock %}
